<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
<table width="1190" height="495" border="1">
  <tr>
    <th colspan="8" scope="col">SEARCH BY RESTAURANT NAME
      
          <label>
          <input type="text" name="textfield" />
          </label>
          <label>
          <input type="submit" name="Submit" value="SEARCH" />
          </label>
      </th>
  </tr>
  <tr>
    <td width="110">SL NO </td>
    <td width="330">RESTAURANT NAME </td>
    <td width="148">LICENSE </td>
    <td width="138">DETAILS</td>
    <td width="127">RATING</td>
    <td width="117">&nbsp;</td>
    <td width="164">&nbsp;</td>
    
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>
      <label>
      <div align="center"><a href="#">BLOCK</a></div>
      </label>
     </td>
    <td>      <label>
        <div align="center"><a href="#">UNBLOCK</a></div>
      </label>
      </td>
  </tr>
</table>
</form>
</body>
</html>
