<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="877" height="356" border="1">
    <tr>
      <th colspan="8" scope="col"><div align="right">SEARCH BY NAME
        <label>
              <input type="text" name="textfield" />
              <input type="submit" name="Submit3" value="SEARCH" />
              </label>
      </div></th>
    </tr>
    <tr>
      <th scope="col">SL NO </th>
      <th scope="col">NAME</th>
      <th scope="col">ADDRESS</th>
      <th scope="col">GENDER</th>
      <th scope="col">EMAIL</th>
      <th scope="col">PHONE NUMBER </th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><div align="center"><a href="#"></a>
              <label></label>
      </div></td>
      <td><div align="center"></div>
      <a href="#">BLOCK</a></td>
      <td><div align="center"><a href="#"></a>
              <label></label>
              <label></label>
              <a href="#">UNBLOCK</a></div></td>
    </tr>
  </table>
</form>
</body>
</html>
