<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="973" height="446" border="1">
    <tr>
      <th scope="col">SL NO </th>
      <th scope="col">DATE</th>
      <th scope="col">USERNAME</th>
      <th scope="col">FEEDBACK</th>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{i.Date}}</td>
      <td>{{i.uid.name}}</td>
      <td>{{i.feed}}</td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
</html>
