<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<table width="1036" height="389" border="1">
  <tr>
    <th colspan="4" scope="row">VIEW RATINGS </th>
  </tr>
  <tr>
    <th colspan="2" scope="row">TOTAL RATING </th>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <th scope="row">RATING</th>
    <td>REVIEW</td>
    <td>USERNAME</td>
    <td>DATE</td>
  </tr>
  <tr>
    <th scope="row">&nbsp;</th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
