<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="1007" height="405" border="1">
    <tr>
      <th colspan="5" scope="row">VIEW REPLAY </th>
    </tr>
    <tr>
      <th scope="row">SL NO </th>
      <td>COMPLAINT</td>
      <td>DATE</td>
      <td>REPALY</td>
     
    </tr>
    {% for i in val %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.complaint}}</td>
      <td>{{i.Date}}</td>
      <td>{{i.replay}}</td>
      
    </tr>
    {% endfor %}
  </table>
</form>
</body>
</html>
